button {
	border: 0px;
	background-color: transparent;
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
	padding: 0;
	line-height: 24px;
	text-align: center;
}

#spaced_repetition_controls_container button {
	background-color: #FEF388;
}

#spaced_repetition_controls_container button:hover {
	background-color: #D6FD9D;
}
